@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background-image: linear-gradient(to right ,#5a189a, #9d4edd,#c77dff , #e0aaff);
}

h1{
    font-family: "Caprasimo", serif;
    animation: moveUp 3s linear infinite both;
    -webkit-animation: moveUp 3s linear infinite both;
}

@keyframes moveUp{
    50%{
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
}
    100%{
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
}
}

.form{
   max-width: 700px;
    width: 100%;
    min-height: 700px;
    background-color: #59189a7b;
    border: 1px solid white;
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
}
.form::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: -1;
    top: 0px;
    left: 0;
    border-radius: 16px;
    transform: rotate(10deg) ;
    -webkit-transform: rotate(10deg) ;
    -moz-transform: rotate(10deg) ;
    -ms-transform: rotate(10deg) ;
    -o-transform: rotate(10deg) ;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
@media(max-width: 768px){
    .form::before{
        display: none;
    }

}

/**********************************************************/
.errors{
    min-width: 200px;
    min-height: 50px;
    background-color: white;
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #5a189a;
    display: none;
    z-index: 9999;
    text-decoration: underline;
}


/*******************************global****************************/

::selection{
    background-color: #5a189a;
    color: white;
}

::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-thumb{
    background-color: #5a189a;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}